body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.card {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 30px;
    color: #333;
}
