{% extends 'index.html' %}
{% block header %}
    <header>
        <div class="container-fluid mb-2" style="padding: 10px 0;"> <!-- کاهش پدینگ برای کوچکتر شدن هدر -->
            <div class="header-text row align-items-center">
                <h2 class="title-heading item-text" style="font-size: 1.8rem; margin-bottom: 0.5rem;">گیم سنتر<br/>به سایت ما خوش آمدید</h2>
                <h3 class="item-text" style="font-size: 1.2rem;">فروش انواع لپتاپ و تجهیزات گیمینگ</h3>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center mb-4">
            <div class="d-flex justify-content-end flex-wrap">
                {% for category in categories %}
                    <div class="btn-group me-2 mb-2" style="direction: ltr;">
                        <a href="{{ category.get_absolute_url }}" class="btn btn-info">{{ category.name }}</a>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">باز کردن منو</span>
                        </button>
                        <ul class="dropdown-menu text-end">
                            {% for sub in category.scategory.all %}
                                <li><a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>


        <!-- Product cards section -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            {% for product in products %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <a href="#">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}"
                                 class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.price }} تومان</p>
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'home:detail' product.slug %}" class="btn btn-primary">دیدن محصول</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
