{% extends 'index.html' %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
        <div class="col">
            <div class="card">
                <img style="width: 50%; height: 200px" src="{{ product.image.url }}" class="card-img-top img-thumbnail" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }} </h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{% url 'home:detail' product.slug %}" class="btn btn-primary">دیدن محصول</a>
                </div>

            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

