{% extends 'index.html' %}
{% block body %}
<div class="container mt-5">
    <!-- کارت اطلاعات کاربر -->
    <div class="card bg-light mb-4 shadow-sm">
        <div class="card-body text-center">
            <h4 class="card-title mb-4">پروفایل کاربری</h4>
            <p class="card-text"><strong>نام:</strong> {{ user.name }}</p>
            <p class="card-text"><strong>نام خانوادگی:</strong> {{ user.family }}</p>

            {% if user.is_staff %}
                <a href="/admin" class="btn btn-secondary mt-3">ورود به بخش مدیریت</a>
            {% endif %}
        </div>
    </div>

    <!-- لیست سفارش‌ها -->
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">سفارش‌ها</h5>
        </div>
        <ul class="list-group list-group-flush">
            {% if orders %}
                {% for order in orders %}
                    <li class="list-group-item d-flex flex-column flex-md-row justify-content-between align-items-center">
                        <div class="d-flex flex-column align-items-start">
                            <span class="fw-bold">شناسه سفارش: {{ order.id }}</span>
                            <span class="text-muted">وضعیت:
                                <span class="badge {{ order.paid|yesno:'bg-success,bg-danger' }}">{{ order.paid|yesno:"پرداخت شده,پرداخت نشده" }}</span>
                            </span>
                        </div>
                    <a href="{% url 'home:order' order.id %}" class="btn btn-primary">مشاهده سفارش</a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item text-center text-muted">سفارشی یافت نشد.</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
