{% extends 'index.html' %}
{% block body %}
    <div class="container text-center bg-dark rounded mt-5 d-flex justify-content-center flex-column">
        <!-- نمایش خطاهای فرم -->
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-login d-flex justify-content-center">
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form.full_name }}
                {{ form.email }}
                {{ form.password1 }}
                {{ form.password2 }}
                <br>
                <button class="btn btn-success m-3" type="submit">تایید</button>
                <a class="link btn-link m-3" href="{% url 'accounts:login' %}">حساب کاربری دارید؟ برای ورود کلیک کنید</a>
            </form>
        </div>
    </div>
{% endblock %}
