{% extends 'index.html' %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">نام محصول</th>
            <th scope="col">قیمت</th>
            <th scope="col">تعداد</th>
            <th scope="col">قیمت کل</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.product }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
            <td><a href="{% url 'order:cart_remove' item.product.id %}">حذف</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                قیمت کل
            </td>
            <td colspan="4">

            </td>
            <td>
                {{ cart.get_total_price }}
            </td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'order:create_order' %}" class="btn btn-primary">ثبت خرید</a>
{% endblock %}